/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#issuedBooksPane {
    -fx-background-color: #02394a;
    -fx-background-size:  1200 900;
    -fx-background-radius: 15;
    -fx-border-width: 5;
    
}
#issuedBooksPane:hover {
    -fx-background-color:linear-gradient(to right, #EB4B98, #F26DF9);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-translate-y: -2;
}

#totalBooksPane {
    -fx-background-color: #02394a;
    -fx-background-size:  1200 900;
    -fx-background-radius: 15;
    -fx-border-width: 5;
}
#totalBooksPane:hover {
    -fx-background-color:linear-gradient(to right, #EB4B98, #F26DF9);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-translate-y: -2;
}

#totalStudentsPane {
    -fx-background-color: #02394a;
    -fx-background-size:  1200 900;
    -fx-background-radius: 15;
    -fx-border-width: 5;
}
#totalStudentsPane:hover {
    -fx-background-color:linear-gradient(to right, #EB4B98, #F26DF9);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-translate-y: -2;
}

#booksReturnedPane {
    -fx-background-color: #02394a;
    -fx-background-size:  1200 900;
    -fx-background-radius: 15;
    -fx-border-width: 5;
}

#booksReturnedPane:hover {
    -fx-background-color:linear-gradient(to right, #EB4B98, #F26DF9);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-translate-y: -2;
}