/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 13, 2025, 10:10:41 AM
    Author     : Ravin
*/

.tableView {
    -fx-background-color: tomato;
    -fx-border-color: #02394A;
    -fx-border-radius: 12;
    -fx-border-insets: 12;
    -fx-table-cell-border-color: red;
}

.tableView .column-header {
    -fx-background-color: #f1f1f1;
    -fx-border-color: transparent transparent gray transparent;
    -fx-font-weight: bold;
}

.tableRowCell {
    -fx-background-color: white;
    -fx-border-colo: lightgray;
}

.tableRowCell:odd {
    -fx-background-color: goldenrod;    
}

.tableRowCell:even {
    -fx-background-color: white;    
}

.tableRowCell:selected {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.tableRowCell:filled:hover {
    -fx-background-color: darkred;  
}

.tableCell {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 12px;
    -fx-border-color: transparent;
}



