/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#sidebar {
    -fx-background-color: #02394a;
}
.sidebarButtons:hover {
   -fx-background-color: linear-gradient(to right, #02394A 0%, #043565 25%, #5158BB 50%, #F26DF9 75%, #EB4B98 100%);
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-translate-y: -1;
}